.items-block {

}

.items-header {
    border-bottom: 1px #737373 solid;
    margin: 5px 5px 5px -12px;
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.items-header div {
    margin: 15px;
}

.items {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}