.edit-wine-modal-content {
    width: 1200px;
    height: 913px;
    overflow: initial !important;
}

.edit-wine-header {
    text-align: center;
}

.edit-wine-form {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 30px 70px;
    justify-content: space-between;
    background-color: white;
}

.edit-wine-form-element {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.edit-wine-form-element-input {
    width: 300px;
    height: 20px;
    margin: 5px 0 20px;
    border-radius: 5px;
    border: 1px #737373 solid;
    font-size: 1.05em;
}

.edit-wine-form-element-checkbox {
    width: 20px;
    height: 20px;
    margin: 5px 10px 20px 0;
    border-radius: 5px;
    border: 1px #737373 solid;
}

.edit-wine-form-element-select {
    width: 305px;
    height: 25px;
    border-radius: 5px;
    border: 1px #737373 solid;
    margin: 5px 0 20px;
    font-size: 1em;
}

.edit-wine-form-element-select:active {
    border: 1px #737373 solid;
}

.edit-wine-form-element-textarea {
    width: 500px;
    height: 80px;
    margin: 5px 0 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px #737373 solid;
    resize: none;
    font-size: 1.2em;
}

.edit-wine-form button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 120px;
    height: 30px;
    border-radius: 20px;
}

.edit-wine-form-checkbox {
    display: flex;
    flex-direction: row;
}

.edit-wine-form-add-item {
    display: flex;
    flex-direction: row;
}

.edit-wine-form-add-item div {
    margin: 5px;
    cursor: pointer;
}

.edit-wine-form-add-item div img {
    width: 23px;
    height: 23px;
}

.edit-wine-form-add-item div img:hover {
    width: 25px;
    height: 25px;
    transition-duration: 0.2s;
}

.edit-wine-form-add-item div img:active {
    width: 23px;
    height: 23px;
    transition-duration: 0.05s;
}

.editWine-form-img-container {
    width: 350px;
    height: 350px;
    border: #737373 solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.editWine-form-img-container img {
    width: inherit;
    height: inherit;
    object-fit: contain;
    border-radius: inherit;
}