.cart-item {
    display: flex;
    flex-direction: row;
    border: red 1px solid;
    margin-top: 30px;
}

.cart-item-img {
    width: 250px;
    height: 250px;
    margin: 15px;
    border: black 1px solid;
    object-fit: cover;
}

.cart-item-descriptions {
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 250px;
    margin: 25px 25px 25px 300px;
}

.cart-item-name {

}

.cart-item-discount {

}

.cart-item-remove {
    margin-left: 800px;
}