.manager-panel-main {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.manager-panel-items {
    display: flex;
    flex-direction: row;
}

.manager-panel-item {
    padding: 3px;
    font-size: 1.3em;
    cursor: pointer;
    margin: 8px 0 8px 30px;
    height: 24px;
}

.manager-panel-item:hover {
    border: #ff5000 2px solid;
    transition-duration: 0.3s;
}

.manager-panel-header {
    font-size: 1.5em;
    margin-right: 20px;
    margin-top: 8px;
}