@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.wine-element {
    display: flex;
    flex-direction: column;
}

.wine-element-item {
    display: flex;
    flex-direction: row;
    height: 400px;
    justify-content: space-between;
}

.wine-img-container {
    width: 50%;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wine-img-container img {
    max-width: 600px;
    max-height: 400px;
    object-fit: cover;
}

.descriptions {
    width: 50%;
    position: relative;
    padding: 0 15px;
    border: gray 2px solid;
    border-radius: 8px;
    margin-left: 8px;
}

#wine-name {
    text-align: center;
}

.old-price {
    margin: 0 10px 0 0;
    text-align: right;
    color: gray;
    text-decoration: line-through;
    font-size: 1em;
}

.wine-price {
    margin: 0;
    text-align: right;
    font-size: 1.5em;
}

.wine-unavailable {
    margin: 0;
    margin-bottom: 15px;
    font-size: 1.3em;
    color: #737373;
}

.additional-info {
    margin: 10px 0;
    padding: 15px;
    height: 200px;
}

.price-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    right: 0;
    bottom: 0;
    margin: 10px;
    justify-content: flex-end;
}

.wine-element-button {
    position: absolute;
    left: 15px;
    bottom: 15px;
    cursor: pointer;
    border: none;
}

.wine-element-button img {
    width: 33px;
    height: 33px;
}

.wine-element-button img:hover {
    width: 35px;
    height: 35px;
    transition-duration: 0.25s;
}

.wine-element-button img:active {
    width: 33px;
    height: 33px;
    transition-duration: 0.1s;
}

.wine-element-rating {
    margin: 15px;
    position: absolute;
}

.wine-element-star {
    font-size: 1.8em;
}