.nav {
    width: 240px;
    padding: 5px;
    border-right: gray 1px solid;
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}

.filter-block {
    width: inherit;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.filter-header {

}

.filter-item {
    display: flex;
    flex-direction: row;
}

.range-filter{
    padding:10px;
    width:225px;
    margin-bottom:10px;
}

.range-controls {
    position:relative;
    height:80px;
    margin-bottom:15px;
    padding:0 30px;
    background:#34495e;
    border-radius:5px;
    overflow:hidden;
}

.scale {
    margin-top:39px;
    height:2px;
    background:#d7dcde;
}
.nav-bar {
    /*margin-left:50px;*/
    /*width:100px;*/
    height:2px;
    background:#00ca74;
}

.toggle {
    position:absolute;
    top:30px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid white;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
}

.min-toggle {
}

.max-toggle {
    left:165px;
}

.nav-input {
    width:50px;
    padding:8px 10px;
    margin-left:2px;
    border:none;
    background:#34495e;
    font-size:16px;
    font-family:"Tahoma", sans-serif;
    text-align:center;
    color:#283136;
    border-radius:5px;
    color:white;
}

.nav-input:first-child {
    margin-right:14px;
}

.nav-submit {
    margin-left: 140px;
    margin-top: 10px;
    height: 27px;
    width: 80px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}