.App {
    margin: 0;
    padding: 0;
}

button {
    background-color: #f1f1f1;
}

button:hover {
    transition-duration: 0.2s;
    background-color: #E1E1E1;
    border: #ff5000 2px solid;
}

button:active {
    border: none;
}