.App {
    margin: 0;
    padding: 0;
}

button {
    background-color: #f1f1f1;
    border: black 1px solid;
    cursor: pointer;
}

button:hover {
    transition-duration: 0.2s;
    background-color: #E1E1E1;
    border: #ff5000 1px solid;
}

button:active {
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

.box {
    border: gray 2px solid;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.price {
    font-weight: bold;
}

.sale {
    color: #f84147;
    font-weight: bold;
}

.checked-star {
    color: gold;
}

.unchecked-star {
    color: #a2a2a2;
}

table, th, td {
    border:1px solid gray;
}

th, td {
    padding: 2px;
}

.sold-date {
    margin: 10px;
    color: gray;
}

.order-status {
    border: none;
    border-radius: 15px;
    padding: 4px 10px;
    margin-top: 5px;
    height: 20px;
}

.text-center {
    text-align: center;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
