@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght,XTRA,YTAS,YTDE,YTLC@8..144,80.3,298,480,750,-224,479;8..144,90,298,475,768,-202,479;8..144,90,298,507,768,-203,479&display=swap');

body {
  margin: 0;
  padding: 0;
  width: auto;
  min-width: 150vh;
  font-family: 'Roboto Flex', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: white;
}

#root {
  font-family: 'Roboto Flex', sans-serif;
}