header {
    width: inherit;
    height: 80px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    position: relative;
}

.header-logo {
    margin: 5px 15px;
    height: 70px;
    width: auto;
}

.header-account-img {
    position: absolute;
    right: 80px;
}

.header-cart-img {
    position: absolute;
    right: 0;
}

.cart-icon {
    cursor: pointer;
    height: 34px;
    width: 34px;
    margin: 23px
}

.cart-icon:hover {
    height: 36px;
    width: 36px;
    margin: 22px;
    transition-duration: 0.1s;
}

.cart-icon:active {
    height: 34px;
    width: 34px;
    margin: 23px;
    transition-duration: 0.05s;
}

.search-container {
    height: 38px;
    width: 386px;
    display: flex;
    flex-direction: row;
    margin: 18px 0 22px 250px;
    border: #ff5000 2px solid;
    border-radius: 25px;
    padding: 0;
}

.search-input {
    margin: 0;
    height: 35px;
    width: 350px;
    background: none;
    border: none;
    font-size: 1em;
    padding-left: 15px;
    padding-right: 10px;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    height: 35px;
    width: 36px;
    border-radius: 20px;
    cursor: pointer;
}

.search-icon img {
    height: 25px;
    width: 25px;
    margin: 5px 10px 5px 0;
}

.dropdown-block {
    top: 65px;
    right: -2px;
    position: absolute;
    border: gray 2px solid;
    border-radius: 5px;
    padding: 8px;
    background-color: white;
    z-index: 100;
}

.dropdown-block p {
    margin: 0;
    padding: 8px 15px;
    background-color: #e7e7e7;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
}

.dropdown-block p:hover {
    background-color: #c7c7c7;
    transition-duration: 0.2s;
}