.item-box {
    position: relative;
    padding: 10px;
    margin: 5px;
    width: 265px;
    height: 380px;
    border: gray 2px solid;
    border-radius: 8px;
}

.item {
    width: inherit;
    height: inherit;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.item-img {
    width: 265px;
    height: 265px;
    object-fit: contain;
}

.item-descriptions {
    width: 100%;
    height: 170px;
}

.item-price {
    font-size: 1.2em;
    margin: 0;
}

.item-price-unavailable {
    font-size: 1.3em;
    margin: 0;
    color: gray;
}

.item-old-price {
    color: gray;
    text-decoration: line-through;
    font-size: 0.9em;
    margin: 0;
}

.item-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border: none;
}

.item-button img {
    width: 35px;
    height: 35px;
}
.item-button img:hover {
    width: 37px;
    height: 37px;
    transition-duration: 0.2s;
}
.item-button img:active {
    width: 35px;
    height: 35px;
    transition-duration: 0.05s;
}

.item-price-container {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.item-rating {
    position: absolute;
}

.not-available {
    border: #f84147 2px solid;
    border-radius: 15px;
}

.label {
    display: flex;
    justify-content: center;
    justify-items: center;
    position: absolute;
    width: 80px;
    height: 20px;
    top: 10px;
    right: 10px;
}

.label p {
    margin: 0;
    font-size: 0.9em;
}
